langchain-groq
requests
beautifulsoup4
schedule
python-dotenv
langsmith
tavily-python
langgraph
fastapi
uvicorn
supabase
fpdf2
markdown
sse-starlette
pydantic
langchain-community
feedparser
langchain-google-genai
